.Post {
	text-align: center;
	border: 1px solid #eee;
	margin: 10px;
	box-shadow: 0px 2px 3px #ccc;
	width: 100px;
	padding: 16px;
	box-sizing: border-box;
	cursor: pointer;
}

.Post:hover,
.Post:active {
	background-color: #C0DDF5;
}

.Author {
	margin: 16px 0;
	color: #ccc;
}