.NewPost {
	text-align: center;
	box-shadow: 0 2px 3px #ccc;
	border:1px solid #eee;
	width: 80%;
	margin: 20px auto;
}

.NewPost label {
    display: block;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}

.NewPost input,
.NewPost textarea,
.NewPost select {
	display: block;
	box-sizing: border-box;
	border: 1px solid black;
    outline: none;
    font: inherit;
    margin: auto;
    width: 80%;	
}